
@{
    ViewBag.Title = "Territory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order_page_wrapper">
    <div class="control_wrapper">
        <div class="row">
            <div class="col-xs-2 padd_zero"><h6 class="filter_heading">Territory</h6></div>
            <div class="col-xs-9 padd_zero"></div>
            <div class="col-xs-1 padd_zero"><span class="toggle_arrow f_right"><i class="fa fa-chevron-up" aria-hidden="true"></i></span></div>
        </div>
        <hr />
        <div id="toggle_wrapper">
            <div class="row row_bottom_padd">
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">WB Territory</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">ISO-3166 Country Code</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Apple Territory</p>
                    <input type="text" class="input_box" />
                </div>

                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Region</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd"></div>
                <div class="col-xs-2 control_padd"></div>
            </div>
            <div class="row row_bottom_padd">
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Package</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Group</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Primary Language</p>
                    <input type="text" class="input_box" />
                </div>

                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Primary Language Code</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd"></div>
                <div class="col-xs-2 control_padd"></div>
            </div>
            <div class="row row_bottom_padd">
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Secondary Language</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Secondary Language Code</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Territory Language</p>
                    <input type="text" class="input_box" />
                </div>

                <div class="col-xs-2 control_padd">
                    <p class="dropdown_txt">Territory Language Code</p>
                    <input type="text" class="input_box" />
                </div>
                <div class="col-xs-2 control_padd"></div>
                <div class="col-xs-2 control_padd"></div>
            </div>

            <div class="row">
                <div class="col-xs-3 padd_zero">
                    <input type="button" class="btn btn-default left_btn btn_custom" value="cancel">
                    <input type="submit" name="save" value="save" class="btn btn-default btn_custom" />
                </div>
                <div class="col-xs-9 padd_zero"></div>
            </div>
        </div>
    </div>
</div>

