
<div class="order_page_wrapper">
    <div class="control_wrapper">
        <div class="row access_denied">
            <div class="col-xs-1 key_wrapper">
                <img src="~/Content/Images/key-100.png" alt="Access Denied!" />
                </div>
            <div class="col-xs-11 padd_zero">
                <h1>Access Denied</h1>
                <h4>Unauthorized: Access is denied due to insufficient privileges....</h4>
                <h4> If you believe you have received this message in error, please contact tech support to resolve.</h4>
            </div>
        </div>
    </div>
</div>