<div class="order_page_wrapper">
    <div class="control_wrapper">
        <div class="row access_denied">
            <div class="col-xs-1 key_wrapper">
                <img src="~/Content/Images/key-100.png" alt="Access Denied!" />
            </div>
            <div class="col-xs-11 padd_zero">
                <h2>Session expired, Please re-@Html.ActionLink("login", "Login", "Account") to continue.</h2>
            </div>
        </div>
    </div>
</div>