@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row login_wrapper">
    <div class="row">
        <div class="col-xs-12 padd_zero"><h6 class="filter_heading">@ViewBag.Title</h6></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 padd_zero"><h6 class="filter_heading">Please check your email to reset your password.</h6></div>
    </div>
    </div>
